@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="main">
    <div class="container">
        <h2>Welcome!</h2>
        <p>Discover and join various channels based on your interests.</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </div>
            
        }
        else
        {

            <div class="d-flex">

                <div>

                    <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>

                </div>

                <div>

                    <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>

                </div>

            </div>
             
        }
        
    </div>
</div>

